@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

html {
  height: 100%;
}

.page-wrapper {
  width: 1060px;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  margin-bottom: -6px;
  position: relative;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 339px;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.navigation-link-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-icon-search {
  background-image: url("../images/icons/search-icon.svg");
}

.navigation-link-icon-heart {
  background-image: url("../images/icons/heart-icon.svg");
}

.button-header {
  padding: 8px 34px;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
}

.button-header {
  background-color: #756157;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

/*index.html*/

.hero {
  display: flex;
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 69px;
}

.hero-words-img {
  margin: 0 auto;
}

.advantages-header {
  margin: 0 auto;
  width: 652px;
  margin-bottom: 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 64px;
}

.advantages-list-item {
  height: 385px;
}

.advantages-list-container {
  margin: 112px 85px;
}

.advantages-list-container-blue {
  margin: 102px 85px;
}

.advantages-list-item-img {
  width: 800px;
}

.advantages-title {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-description {
  margin: 0 auto;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.advantages-list-item-blue {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-list-item-header {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-list-splitter {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
}

.advantages-list-splitter-blue {
  background-color: #FFFFFF4D;
}

.advantages-list-item-text {
  margin: 0 auto;
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.advantages-list-item-light-blue {
  width: 400px;
  background-color: #83B3D333;
}

.advantages-list-item-so-light-blue {
  width: 400px;
  background-color: #83B3D31F;
}

.services-header {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.services-title {
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.services-description {
  margin: 0 auto;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.services-list-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  padding: 81px 85px;
}

.services-list-item-light-blue {
  background-color: #83B3D31F;
}

.services-list-item-header {
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.services-list-item-text {
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.services-list-item-text {
  width: 230px;
  margin: 0 auto;
}

.quick-hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.quick-hotel-search-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-hotel-search-title {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.quick-hotel-search-description {
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54px;
}

.button-hotel-search {
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  border: 0;
  padding: 8px 50px;
}

.newsletter-background-image {
  background-image: url("../images/newsletter-background-image.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #82B3D3;
  padding-top: 96px;
  padding-bottom: 104px;
  margin-bottom: 40px;
}

.newsletter-header {
  width: 475px;
}

.newsletter-title {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 20px;
}

.newsletter-description {
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter-button {
  background-color: #82B3D3;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.footer-contacts-phone {
  line-height: 40px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.services-list {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 96px;
  padding: 0;
}

.services-list-icon {
  display: inline-block;
  width: 74px;
  height: 87px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.services-list-icon-house {
  background-image: url('../images/icons/house-icon.svg');
}

.services-list-icon-food {
  background-image: url('../images/icons/food-icon.svg');
}

.services-list-icon-gift {
  background-image: url('../images/icons/gift-icon.svg');
}

.newsletter-form {
  margin: 0 auto;
  width: 684px;
  display: flex;
}

.field {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 20px;
  border-width: 0;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.field-newsletter {
  width: 452px;
}

.newsletter-button {
  margin: 0 auto;
  border: 0;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-social-icon {
  width: 48px;
  height: 40px;
  display: inline-block;
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-icon-vk {
  background-image: url('../images/logo/social-logo-vk.svg');
}

.footer-social-icon-telegram {
  background-image: url('../images/logo/social-logo-telegram.svg');
}

.footer-social-icon-youtube {
  background-image: url('../images/logo/social-logo-youtube.svg');
}

/*catalog.html*/

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #82B3D3;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 50px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 5px;
  line-height: 78px;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  list-style-type: none;
  line-height: 21px;
  font-weight: 400;
  font-size: 16px;
}

.breadcrumbs-icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: 12px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-icon-home {
  background-image: url('../images/icons/breadcrumbs-home-icon.svg');
}

.breadcrumbs-icon-right-arrow {
  width: 7px;
  height: 10px;
  display: inline-block;
  background-size: 10px auto;
  background-image: url('../images/icons/breadcrumbs-right-arrow-icon.svg');
}

.catalog-filter {
  display: flex;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-group {
  width: 151px;
  border: 0;
  padding: 0;
  margin: 0 auto;
  margin-right: 70px;
}

.catalog-filter-title {
  display: block;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 32px;
  padding: 0;
}

.price-slider-container {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-right: 70px;
  margin-left: 70px;
}

.price-field-container {
  display: flex;
  gap: 2px;
}

.price-button-container {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.field-price {
  width: 143px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}


.field-price-min {
  border-radius: 4px 0 0 4px;
}

.field-price-max {
  border-radius: 0 4px 4px 0;
}

.control-input {
  line-height: 23px;
  font-weight: 400;
  font-size: 18px;
}

.button-inner {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 8px 50px;
  border: 0;
}

.button-inner-submit {
  background: #82B3D3;
  margin-bottom: 32px;
}

.button-inner-reset {
  background: transparent;
}

.hotel-counter-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.hotel-counter {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 10px 18px;
  margin-right: 70px;
  width: 292px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333333;
  font-weight: 400;
}

.button-display-options-container {
  display: flex;
  gap: 8px;
}

.button-display-options {
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.button-cards {
  background-image: url("../images/icons/button-cards-icon.svg");
  border-color: #000000;
}

.button-slideshow {
  background-image: url("../images/icons/button-slideshow-icon.svg");
}

.button-list {
  background-image: url("../images/icons/button-list-icon.svg");
}

.hotel-card-title {
  line-height: 28px;
  font-weight: 700;
  font-size: 28px;
}

.hotel-card-price {
  font-weight: 400;
}

.hotel-card-button {
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.brown-button {
  background-color: #756157;
}

.light-blue-button {
  background-color: #82B3D3;
}

.light-grey-button {
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-link {
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-more {
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  background-color: transparent;
}

.newsletter-catalog {
  background-color: transparent;
}

.newsletter-title-catalog {
  color: #000000;
}

.newsletter-description-catalog {
  color: #333333;
}
